*{
    color: white;
}

.info{
    display: flex;
    flex-direction: column;
    width: 36%;
    margin-left: 28px;
    margin-top: 3%;
    gap: 34px;
    .tituloTexto{
        color: white;
        font-size: 26px;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-shadow: 1px 5px 4px rgb(0, 0, 0);  
    }
    p{
        color: white;
        font-size: 18px;
        font-family: "Kanit", sans-serif;
        font-weight: 200;
        font-style: normal;
        text-shadow: 1px 5px 4px rgb(0, 0, 0);
        line-height: 1.8
    }
}