.footer{
    background-color: rgba(0, 0, 0, 0.378);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding-top: 8px;
    margin-top: 8%;
    width: 100%;
    height: 20vh;
    .logoFinal{
        display: flex;
        gap: 10px;
        color: white;
        font-size: 18px;
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-shadow: 1px 5px 2px rgb(0, 0, 0);
    }
    .imgI{
        transform: scaleX(-1);
    }
    h3{
        color: white;
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-shadow: 1px 5px 4px rgb(0, 0, 0);
    }
}